version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: usc_simulations
      POSTGRES_USER: usc_user
      POSTGRES_PASSWORD: usc_password
    ports:
      - "5432:5432"
    volumes:
      - ./docker-data/postgres:/var/lib/postgresql/data

  api:
    build: ./apps/api
    env_file:
      - .env.development
    ports:
      - "4000:4000"
    depends_on:
      - db

  web:
    build: ./apps/web
    env_file:
      - .env.development
    ports:
      - "3000:3000"
    depends_on:
      - api
